<h2> GESTION PARC INFORMATIQUE ET INCIDENTS </h2>
<mat-card style="background-color: #0288D1;">
  <a  (click)="RedirectToEmploye()">Employés</a>
  <a (click)="RedirectToTechnician()">Techniciens</a>
  <a  (click)="RedirectToNetwork()">Réseaux</a>
  <a  (click)="RedirectToMaterial()">Matériels</a>
  <a  (click)="RedirectToSoftware()">Logiciels</a>
  <a  (click)="RedirectToServer()">Serveurs</a>
  <a  (click)="RedirectToIncident()">Incidents</a>
  <a  (click)="RedirectToConnexion()" style="float:right;">Déconnexion</a>
</mat-card>
<br>
<br>

