<mat-dialog-content>
	<p>
		{{entete}}
	</p>
	<form [formGroup]="dialogForm" novalidate>
	  <mat-form-field class="element-full-width" appearance="outline">
	    <input matInput placeholder="Marque" required formControlName="brand">
	  </mat-form-field><br>
		<mat-form-field class="element-full-width" appearance="outline">
			<input matInput placeholder="Description" required formControlName="description">
		</mat-form-field><br>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button color="primary" tabindex="1" [disabled]="!dialogForm.valid" type="submit" (click)="onConfirmClick()">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1" >{{cancelButtonText}}</button>
</mat-dialog-actions>
